@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    /* font-family: 'Josefin Sans', sans-serif; */

    font-family: 'Koulen', cursive;
    user-select: none;
}
*{
    margin: 0;
    
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    flex-direction: column;
}

#root{
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

input:focus{
    outline: none;
}